.left-sidebar {
  width: 250px;
  height: calc(100vh - 72px);
  height: calc(100dvh - 72px);
  background-color: var(--background-white);
  padding: var(--spacing-md);
  padding-top: 80px; /* Space for navbar */
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);

  position: fixed;
  left: 0;
  top: 72px;
  z-index: 1000;

  transition: width 300ms ease;
}

.left-sidebar.collapsed {
  width: 60px;
}

.collapse-btn {
  background: none;
  color: var(--text-secondary);
  border: none;
  border-radius: 50%;
  padding: var(--spacing-xs);

  position: absolute;
  top: 60px;
  right: var(--spacing-md);

  transition: 250ms ease-in-out;
  transition-property: background-color, color;
}

.collapse-btn:where(:hover, :focus-visible) {
  background-color: var(--background-light);
  color: var(--primary-color);
}

.nav-items {
  margin-top: var(--spacing-xl);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.nav-item {
  width: 100%;
  background: none;
  color: var(--text-secondary);
  border: none;
  border-radius: 8px;
  padding: var(--spacing-sm) var(--spacing-md);

  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  transition: 250ms ease-in-out;
  transition-property: background-color, color;
}

.left-sidebar.collapsed .nav-item {
  padding: var(--spacing-xs);
}

.nav-item:where(:hover, :focus-visible) {
  background-color: var(--background-light);
  color: var(--primary-color);
}

.nav-item.active {
  background-color: var(--background-light);
  color: var(--primary-color);
}

.nav-item .label {
  white-space: nowrap;
}

/* Mobile & tablet styles */
@media screen and (max-width: 767px) {
  .left-sidebar {
    width: 100%;
    height: 60px;
    padding: var(--spacing-sm);

    position: fixed;
    bottom: 0;
    top: auto;
  }

  .left-sidebar.collapsed {
    width: 100%;
  }

  .collapse-btn {
    display: none;
  }

  .nav-items {
    margin-top: 0;

    flex-direction: row;
    justify-content: space-around;
  }

  .nav-item {
    padding: var(--spacing-xs);

    flex-direction: column;
    gap: var(--spacing-xs);
  }

  .nav-item .label {
    font-size: 0.75rem;
  }
}
