.footer {
  background-color: var(--border-color);
  color: var(--text-primary);
  border-top: 3px solid var(--primary-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: var(--spacing-lg) var(--spacing-md);
  margin-left: calc(
    250px + var(--spacing-md)
  ); /* Add the width of the left sidebar */
  margin-right: calc(
    300px + var(--spacing-md)
  ); /* Add the width of the right sidebar */
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1),
    -1px 0 3px 1px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto auto;
  gap: var(--spacing-lg);
}

.footer-title {
  color: var(--text-primary);
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: var(--spacing-sm);
}

.footer-logo {
  color: var(--primary-color);
}

.footer-links li {
  margin-bottom: var(--spacing-xs);
}

.footer-links a {
  color: var(--text-secondary);
  font-size: 0.9375rem;

  transition: color 250ms ease-in-out;
}

.footer-links a:where(:hover, :focus-visible) {
  color: var(--primary-color);
}

.footer-social-icons {
  display: flex;
  gap: var(--spacing-md);
}

.footer-social-icons a {
  color: var(--text-secondary);
  margin-right: var(--spacing-md);

  transition: color 250ms ease-in-out;
}

.footer-social-icons a:where(:hover, :focus-visible) {
  color: var(--primary-color);
}

.footer-developer-credit {
  grid-column: 1 / -1;
  justify-self: center;

  color: var(--text-secondary);
  font-size: 0.875rem;
  text-transform: capitalize;
}

.developer-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: opacity 250ms ease-in-out;
}

.developer-link:hover {
  opacity: 0.9;
}

.developer-link:focus-visible {
  border-radius: 2px;
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

.developer-link::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);

  position: absolute;
  bottom: -2px;
  left: 0;

  transform: scaleX(0);
  transform-origin: bottom right;

  transition: transform 250ms ease-in-out;
}

.developer-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Tablet Styles */
@media screen and (max-width: 1023px) {
  .footer {
    margin-right: var(--spacing-md);
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .footer {
    padding: var(--spacing-lg) var(--spacing-md) calc(var(--spacing-lg) + 60px)
      var(--spacing-md); /* Add the left-sidebar height situated at the bottom */
    margin-left: var(--spacing-md);
  }

  .footer-column {
    flex: 1 1 100%;
  }

  .footer-links a {
    font-size: 0.875rem;
  }

  .footer-social-icons a {
    margin-right: var(--spacing-sm);
  }
}
